


Header {
  background-color: rgb(42, 43, 43);
  padding: 5%;
}
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(235, 166, 166);
  display:flex;
  
}



#navBar {
  width: 15%;
}

#gamesContainter {
  width: 82%
}

/* Stolen from Plantsy for initial setup and testing */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards {
  list-style: row;
}

.card {
  margin: 1rem;
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Align items horizontally to the center */
  align-items: center;
  /* Align items vertically to the center */
  }

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  
  }

  .card {
    width: calc(33% - 2rem);

  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

 
